.view {
  h1 , button {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }

  button {
    width: 145px;
    height: 45px;
    display:block;
  }

  padding-bottom: 2rem;
}