.content_detail {
  .detail {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
 section {
   article {
     div {
       display: flex;
       justify-content: space-between;
       align-items: center;
       background-color: hsl(13, 100%, 96%);
       position: relative;
     }
     button {
       height: 40px;
       width: 65px;
       color: white;
       font-size: 1rem;
     }
     h4 {
       margin: 0;
       padding: 0;
       position: absolute;
      left: 6rem;
      font-size: 18px;
     }
   }
 }
}
@media(min-width : 375px) {
  .content_detail {
    width: 80%;
    margin-left: auto;
    display: flex;
    margin-right: auto;
    .detail {
      text-align: start;
      h1 {
        margin: 0;
      }
      p {
        width: 59%;
      }
    }
    section {
      article {
        div {
          background-color:transparent;
        }
       
      }
      width: 85%;
      p {
        width: 84%;
        font-size: 1.2rem;
        line-height: 1.5; 
        margin-left: auto;
      }
    }
  }
}

 
