.team_work {
  background-color: hsl(12, 88%, 59%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4rem;
  h1 {
    color: white;
    text-align: center;
    width: 82%;
    
  }
  button {
    width: 145px;
    height: 45px;
    background-color: white;
  }
}